<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<style>
body {font-family:Arial, Helvetica, sans-serif;}
a {color: #1E91CF;}
h3 {font-size:20px;font-weight:normal}
p {font-size:12px;margin-bottom:20px;}
i {color:#666666;}
</style>
</head>
<body>
<h3>Step 1: Select the font you wish to use</h3>
<p>Visit the <a href="http://google.com/webfonts" target="_blank">font library on Google</a> and browse to the font you wish to use. When you found your font, click on the Quick use button as shown below</p>
<img src="assets/img/google_font1.png">
<h3>Step 2: Select which font weights to include</h3>
<p>Select which font weights to include. Please note that more font weights result in a slightly larger file to load. Do not import more font weights than you need.</p>
<img src="assets/img/google_font2.png">
<h3>Step 3: Get values to fill in as Font import & Font Name</h3>
<p>For the Font Import, copy the name and font weights prefix as shown below. Eg <i>Oswald:400,700</i></p>
<img src="assets/img/google_font3.png">
<p>For the Font Name, copy the font name as shown below. Eg <i>'Oswald', sans-serif</i></p>
<img src="assets/img/google_font4.png">
</body>
</html>